html::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }


    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        background-color: #2847B7;
        padding: 10px 20px; /* Поля вокруг текста */


    }
    li {
        display: inline-block;
        position: relative; 
        margin-right: 90px; /* Расстояние между пунктами меню */
        font-size: 25px;

    }
    a {
        display: block;
        padding: 10px 0px;
        text-decoration: none;
        color: #ffffff;
        padding: 10px 80px; /* Поля вокруг текста */
    }
    ul ul {
        display: none;
        position: absolute;
        background-color: #2847B7;
        border: 1px solid #000000;

    }
    li:hover > ul {
        display: block;
    }

    .carousels{
        height: 100%;
        width: 100%;
      }

    .BANNER{
        margin-top: 100px;
        margin-left: 600px;
    }

    
    .TEXT{
        text-align: center;
        font-family: Arial;
        background-color: #ffffff;
        border-radius: 50px;
        color: #2847B7;

    }

    .fod{
        text-align: left;
        padding: 20px;
        font-family: Arial;
        background-color: #192c74;
        color: #ffffff;

    }.fod .ppp{
        text-align: right;
    }

    
    .bbb{
        display: flex;
            }